@keyframes fadeInEfeito{
    0%{        opacity: 0;    }
    100% { opacity: 1;}
}

.alertadialog{
    position: fixed;
    bottom: 13%;    
    left: 10%;
    width: 80%;
    height: 7vh;
    background: rgb(226, 214, 206);
    padding: 1vh;
    text-align: center;
    transition: all 1s linear;
    opacity: 0;
    visibility: hidden;
    
}
.fadeIn{    
    opacity: 1;
    visibility: visible;
} 