body{
    display: grid;
    place-items: center;
    --cor-fundo:rgb(247, 247, 238);
}
.main{ 
    background: white;
    width: 100%;
    height: 100%;
}
form{  
    background: var(--cor-fundo);    
    margin: 4em 5%;  
    padding: 11%; 
    max-width: 900px;   

}
.wrapinputs{
    display: flex;    
    flex-wrap: wrap; 
}
.titulo{
    padding: 0 2em;
    margin: 0 2em;
    display: grid;
    place-items: center;
}
.inputdiv{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0.5em;
    justify-content: space-between;
}
.sombrinha{
    box-shadow: 0.2vh 0.2vh 0.8vh;
}
.inputdiv > input,textarea {
    border-radius: 0 0.7em;
    width: 100%;
    height: 10vh;
    margin: 2px 0px;
    outline: none;
    padding: 7px;
    
} 
input{ 
    max-width: 21vh;
    max-height: 3vh;
}
.submitbutton{    
    margin: 3.8em;
    display: grid;
    place-items: center;

}
.submitbutton>button{ 
    font-size: 32px;
    border: 1px solid;
    border-radius: 0 2em;
    background: none; 
    width: 11vh;

}

.bottomnav{
    background: var(--cor-fundo);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.bottomnav>a{
    width: 10%;
}
