body{
    display: grid;
    place-items: center;
    font-family: 'Raleway', Arial,sans-serif;   
    --cor-fundo:rgb(250, 246, 242);
    --cor-primaria: rgb(105, 85, 72);
}
.borda-5{ 
    border-radius: 0 5vh;
}
.grid-center{
    display: grid;
    justify-content: center;
    align-content: center;
}

.sombrinha{
    box-shadow: 0.2vh 0.3vh 0.8vh;
}
.main{ 
    background: white;
    width: 100%; 
    grid-template-columns: repeat(auto-fit,
        minmax(300px,600px));     
}
form{  
    background: var(--cor-fundo);    
    margin: 4% 3%;  
}
.mapa-container{ 
    width: 100%;
    margin: 4% 0%;
    display: flex;
    flex-direction: column;
}
 
.altura-fixa{
    height: 50vh;
}
.pad5{
    padding: 5%; 
}
.rodape{
    background: var(--cor-primaria);
    color: white; 
    height: 40vh;
    font-size: 12px;
    display: flex; 
    justify-content: space-around;
}
.rodape a{
    color: white; 
}
.rodape p{
    max-width: 70%;
}
.rodape> div{
  max-width: 50%;
}
.rodape section{
    background: var(--cor-fundo);
    color: black;
    font-size: 15px;
    min-width: 40vh;
}
.bottomnav{
    background: var(--cor-fundo);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    
    grid-template-columns: repeat(auto-fit,
    minmax(2vh,18%));
    
} 
   
  

