body{
    display: grid;
    place-items: center;
    font-family: 'Raleway', Arial,sans-serif;   
    --cor-fundo:rgb(247, 247, 238);
    --cor-primaria: rgb(105, 85, 72);
}
.borda-5{ 
    border-radius: 0 5vh;
}

.sombrinha{
    box-shadow: 0.2vh 0.2vh 0.8vh;
}
.main{ 
    background: white;
    width: 100%;
    max-height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(240px,800px));
    
}
form{  
    background: var(--cor-fundo);    
    margin: 4em 5%;  
    padding: 7%; 
    max-width: 900px;         

}
.wrapinputs{
    display: flex;    
    flex-wrap: wrap; 
}
.titulo{
    padding: 0 0 2em;
    margin: 0 0 2em;
    display: grid;
    place-items: center;
}
.inputdiv{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0.8em 0.8%;
    justify-content: space-between;
}
.inputdiv > input,textarea {
    border: none;
    border-radius: 0 0.7em;
    width: 100%;
    height: 122px;    
    margin: 2px 5px;
    outline: none;
    padding: 7px;
    
} 
input{ 
    max-width: 21vh;
    max-height: 3vh;
}
.submitbutton{    
    margin: 3.8em;
    display: grid;
    place-items: center;

}
.submitbutton>button{ 
    font-size: 32px;
    border: 1px solid; 
    background: none; 
    width: 11vh;

}
.submitbutton>button:active,button:hover
{
    background:var(--cor-primaria);
    color: white;
}


.bottomnav{
    background: var(--cor-fundo);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    
} 
@keyframes fadeInEfeito{
    0%{        opacity: 0;    }
    100% { opacity: 1;}
}

.alertadialog{
    position: fixed;
    bottom: 10%;    
    left: 10%;
    width: 80%;
    height: 6vh;
    background: rgb(226, 214, 206);
    padding: 1vh;
    text-align: center;
    transition: all 1s linear;
    opacity: 0;
    visibility: hidden;
    
}
.fadeIn{    
    opacity: 1;
    visibility: visible;
} 
input:invalid {
    box-shadow: 0 1px 5px 0px red;
  }
   
  

