body{
    width: 100%;
    display: flex;
}
.main{
    background: rgb(164, 164, 238);
    width: 100%;
    height: 100%;
}
.input{
    display: flex;
    width: 50%; 
}
.bottomnav{
    background: red;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
}
form{    display: flex;
    /* width: 87%; */
    border: 1
px
 red solid;
    /* justify-content: center; */
    /* align-self: center; */
    /* justify-self: center; */
    /* align-content: center; */
    /* align-items: center; */
    flex-direction: column;
}