body{
    width: 100%;
    display: flex;
}
.main{
    background: rgb(164, 164, 238);
    width: 100%;
    height: 100%;
}
.inputdiv
    display: flex;
    width: 50%; 
}
.bottomnav{
    background: red;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
}
form{  
    display: flex; 
    border: 1px red solid; 
    flex-direction: column;
}